<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
    <div text-center padding>
        
        <img src="assets/logo.png" alt="">
        
        <h2 style="color: #3880ff">Your Gateway to Buy Ethereum and ERC20 Tokens</h2>
        <h4 style="color: #3880ff">Access Crypto in a wink ;)</h4>
    </div>
    <div text-center padding>
        <img src="assets/TorusDark.svg" alt="" (click)="login()">
        <h4 style="color: #3880ff">Powered by Torus and 0X</h4>
    </div>
</ion-content>
