<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content>

    <div text-center padding>
        
        <h1  style="color: #3880ff">0xO Access Crypto in a wink ;)</h1>
        <h4  style="color: #3880ff">Powered by Torus & 0x</h4>

    </div>

    <ion-card class="frontheader animated bounceInUp">
        <ion-item>
              <ion-icon color="primary" name="wallet"></ion-icon>


            <ion-label>{{address}}</ion-label>
              <ion-chip slot="end" >
                  <ion-label style="margin-right: 8px;">{{balance | number:'1.3-3'}} ETH</ion-label> 
                  <br>
                  <!-- <ion-avatar class="image-center">
                      <img src="./assets/icon/favicon.png">
                  </ion-avatar>  -->
              </ion-chip>
        </ion-item>

    </ion-card>

    <ion-card padding>
        <br>      
        <ion-item>
          <span item-start>
            <ion-icon color="primary" name="at"></ion-icon>
            </span>
            <ion-input type="text" placeholder="RECIPIENT EMAIL ADDRESS" [(ngModel)]="emailRx"></ion-input>
            <button clear item-right (click)="resolveEmail()"><ion-icon color="primary" name="search"></ion-icon></button>
        </ion-item>
        <ion-item>
          <span item-start>
            </span>
            <ion-input type="text" placeholder="ETHEREUM ADDRESS" [(ngModel)]="addressRx"></ion-input>
        </ion-item>
        <ion-item>
              <span item-start>
                  
              </span>
              <ion-input type="number" placeholder="AMOUNT IN ETH" [(ngModel)]="amount"></ion-input>
        </ion-item>
          
          <div padding text-center>
            <ion-button class="nxtstpbtn" color="primary" shape="round" (click)="sendETH()"><ion-icon name="send"></ion-icon>SEND</ion-button>
          </div>    
    </ion-card>

    <ion-grid class="catgrid animated zoomIn">

        <ion-row class="cat-rows">
            <ion-col col-6 class="cat-box" >
              <div padding text-center>
                  <ion-button class="nxtstpbtn" color="primary" shape="round" (click)="launch0x()">Tokens</ion-button>
              </div> 
            </ion-col>
            <ion-col col-6 class="cat-box">
              <div padding text-center>
                <ion-button class="nxtstpbtn" color="primary" shape="round" (click)="showWallet()">Wallet</ion-button>
              </div> 
            </ion-col>
        </ion-row>
      
      </ion-grid>


      <ion-fab class="show-xs-up hide-md-up" slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="signout()">
          <ion-icon name="log-out"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  

</ion-content>
